<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275445828891-pl1okvsb7993ec0dsm1k99gasaeasttr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275445828891-pl1okvsb7993ec0dsm1k99gasaeasttr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>275445828891-fl1576onam9183fgkjm443cs3ruq7djp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACoVh4n7uLv4-eMxCYVnQcRIykPAW0KvY</string>
	<key>GCM_SENDER_ID</key>
	<string>275445828891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monkg.chizzy</string>
	<key>PROJECT_ID</key>
	<string>chizzy-rides</string>
	<key>STORAGE_BUCKET</key>
	<string>chizzy-rides.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275445828891:ios:dd1c31daf1cd28b59c97be</string>
</dict>
</plist>